<h1>Viewport</h1>
<p>Experimental area for viewport
</p>
<div class="container">
	<fieldset>
		<legend>Size info</legend>
		<div class="form-group">
			<div>
				<small>
					<span class="type variable">viewportSize</span>
					<span class="type boolean value">{{viewportSize | json}}</span>
				</small>
			</div>
		</div>
	</fieldset>
</div>
<div class="container">
	<fieldset>
		<legend>Viewport Matcher Container</legend>
		<div class="btn-group" role="group">
		</div>
		<div *ssvViewportMatcher="'large'" class="matcher-dummy-container">
			Dummy container <strong class="matcher-dummy-container__target">only (large)</strong>
		</div>
		<div *ssvViewportMatcher="['large', 'xlarge']" class="matcher-dummy-container">
			Dummy container <br /><strong class="matcher-dummy-container__target">only (large, xlarge)</strong>
		</div>
		<div *ssvViewportMatcher="''; exclude ['xsmall', 'small']" class="matcher-dummy-container">
			Dummy container <strong class="matcher-dummy-container__target">exclude (xsmall, small)</strong>
		</div>
		<div>
			<div *ssvViewportMatcher="{size: 'xlarge', operation: '<='}; else elseB" class="matcher-dummy-container">
				Dummy container <strong class="matcher-dummy-container__target">(<= xlarge>)</strong>
			</div>
			<ng-template #elseB>
				<div class="matcher-dummy-container">
					Dummy container <strong class="matcher-dummy-container__target">(<= xlarge [else]>)</strong>
				</div>
			</ng-template>
		</div>

		<!-- 
		<div *ssvViewportMatcher ssvViewportMatcherExclude="['large']" class="matcher-dummy-container">
			Dummy container <strong class="matcher-dummy-container__target">(exclude large)</strong>
		</div>
		<div *ssvViewportMatcherExpression="<> large" class="matcher-dummy-container">
			Dummy container <strong class="matcher-dummy-container__target">(exclude large)</strong>
		</div> -->

		<!-- other syntax -->
		<!-- <ng-template ssvViewportMatcher [ssvViewportMatcherExclude]="'xsmall'">
			<div class="matcher-dummy-container">
				Dummy container <strong class="matcher-dummy-container__target">(exclude xsmall)</strong>
			</div>
		</ng-template> -->
	</fieldset>
</div>