<h1>Viewport</h1>
<p>Experimental area for viewport
</p>
<div class="container">
	<fieldset>
		<legend>Size info</legend>
		<div class="form-group">
			<div>
				<small>
					<span class="type variable">viewportSize</span>
					<span class="type boolean value">{{viewportSize | json}}</span>
				</small>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Viewport Matcher Container</legend>
		<div class="btn-group" role="group">
			<button class="btn btn-sm" type="button" (click)="isVisible = !isVisible">
				toggle ({{isVisible}})
			</button>
		</div>
		<div *ssvViewportMatcher="isVisible" class="matcher-dummy-container">
			Dummy container
		</div>
	</fieldset>
</div>