<h1>Command</h1>
<p>Experimental area to test out
	<a href="https://github.com/sketch7/ngx.command" target="_blank" rel="noopener">
		<strong>@ssv/ngx.command</strong></a>.
</p>
<div class="container">
	<fieldset>
		<legend>Vanilla</legend>
		<div class="btn-group" role="group">
			<button class="btn btn-sm" type="button" [ngClass]="{'btn-success': !isValid, 'btn-danger': isValid}"
			        (click)="toggleValidity()">
				Mark as {{ isValid ? "Invalid" : "Valid" }}
			</button>
		</div>
		<div class="form-group">
			<div>
				<small>
					<span class="type variable">isValid</span>
					<span class="type boolean value">{{isValid}}</span>
				</small>
			</div>
			<div>
				<small>
					<span class="type variable">isExecuting</span>
					<span class="type boolean value">{{isExecuting}}</span>
				</small>
			</div>
		</div>
		<div class="button-group">
			<button class="btn btn-primary" type="button" [disabled]="!isValid || isExecuting" (click)="save()">
				Save
				<small>execute</small>
			</button>
		</div>
	</fieldset>
	<fieldset>
		<legend>Using Command</legend>
		<div class="btn-group" role="group">
			<button class="btn btn-sm" type="button" [ngClass]="{'btn-success': !isValid$.value, 'btn-danger': isValid$.value}"
			        (click)="toggleValidity$()">
				Mark as {{ (isValid$ | async) ? "Invalid" : "Valid" }}
			</button>
		</div>
		<div class="form-group">
			<div>
				<small>
					<span class="type variable">isValid</span>
					<span class="type boolean value">{{isValid$ | async}}</span>
				</small>
			</div>
			<div>
				<small>
					<span class="type variable">saveCmd.isExecuting</span>
					<span class="type boolean value">{{saveCmd.isExecuting}}</span>
				</small>
			</div>
			<div>
				<small>
					<span class="type variable">saveCmd.canExecute</span>
					<span class="type boolean value">{{saveCmd.canExecute}}</span>
				</small>
			</div>
		</div>
		<div class="button-group">
			<button class="btn btn-primary" type="button" [disabled]="!saveCmd.canExecute" (click)="saveCmd.execute()">
				Save
				<small>execute</small>
			</button>

			<button class="btn btn-primary" type="button" [command]="saveCmd">
				<i *ngIf="saveCmd.isExecuting" class="ai-circled ai-indicator ai-dark-spin small"></i>
				Save
				<small>with [command]</small>
			</button>

			<button class="btn btn-primary" type="button" [command]="saveCmd" [commandOptions]="{executingCssClass: 'is-loading'}">
				<i *ngIf="saveCmd.isExecuting" class="ai-circled ai-indicator ai-dark-spin small"></i>
				Save
				<small>with [options]</small>
			</button>
		</div>
	</fieldset>
	<fieldset>
		<legend>Using Command Redux</legend>
		<div class="btn-group" role="group">
			<button class="btn btn-sm" type="button" [ngClass]="{'btn-success': !isValidRedux$.value, 'btn-danger': isValidRedux$.value}"
			        (click)="toggleValidityRedux()">
				Mark as {{ (isValidRedux$ | async) ? "Invalid" : "Valid" }}
			</button>
		</div>
		<div class="form-group">
			<div>
				<small>
					<span class="type variable">isValidRedux</span>
					<span class="type boolean value">{{isValidRedux$ | async}}</span>
				</small>
			</div>
			<div>
				<small>
					<span class="type variable">saveReduxCmd.isExecuting</span>
					<span class="type boolean value">{{saveReduxCmd.isExecuting}}</span>
				</small>
			</div>
			<div>
				<small>
					<span class="type variable">saveReduxCmd.canExecute</span>
					<span class="type boolean value">{{saveReduxCmd.canExecute}}</span>
				</small>
			</div>
		</div>
		<div class="button-group">
			<button class="btn btn-primary" type="button" [disabled]="!saveReduxCmd.canExecute" (click)="saveReduxCmd.execute()">
				Save
				<small>execute</small>
			</button>

			<button class="btn btn-primary" type="button" [command]="saveReduxCmd">
				<i *ngIf="saveReduxCmd.isExecuting" class="ai-circled ai-indicator ai-dark-spin small"></i>
				Save
				<small>with [command]</small>
			</button>

			<button class="btn btn-primary" type="button" [command]="saveReduxCmd" [commandOptions]="{executingCssClass: 'is-loading'}">
				<i *ngIf="saveReduxCmd.isExecuting" class="ai-circled ai-indicator ai-dark-spin small"></i>
				Save
				<small>with [options]</small>
			</button>
		</div>
	</fieldset>
	<fieldset>
		<legend>Within Collection</legend>
		<div class="btn-group" role="group">
			<button class="btn btn-sm" type="button" [ngClass]="{'btn-success': !isValidHeroRemove$.value, 'btn-danger': isValidHeroRemove$.value}"
			        (click)="toggleValidityRemoveHero()">
				Mark as {{ (isValidHeroRemove$ | async) ? "Invalid" : "Valid" }}
			</button>
		</div>
		<div class="form-group collection">
			<div *ngFor="let hero of heroes" class="collection-item">
				<div class="hero">
					{{hero.name}}
				</div>

				<div class="action button-group" #actionCmd="ssvCommandRef" [ssvCommandRef]="{execute: removeHero$, canExecute: isValidHeroRemove$}">
					<button class="btn btn-danger btn-sm" type="button" [command]="{execute: removeHero$, canExecute: isValidHeroRemove$, params: [hero, 1337, 'xx']}" title="params in object">
						X
					</button>
					<button class="btn btn-info btn-sm" type="button" [command]="{execute: removeHero$, params: hero}"
					        [commandParams]="[hero, 1336, 'yo']" title="params always takes over + doesnt respect isValid">
						X
					</button>
					<button class="btn btn-light btn-sm" type="button" [command]="{execute: removeHero$, canExecute: isValidHeroRemove$}"
					        [commandParams]="hero" title="params only">
						X
					</button>
					<button class="btn btn-dark btn-sm" type="button" [command]="removeHeroCmd"
					        [commandParams]="hero" title="shared with other items">
						X
					</button>
					<button class="btn btn-warn btn-sm" type="button" [command]="actionCmd.command"
					        [commandParams]="hero" title="shared with x2">
						X2
					</button>
					<button class="btn btn-warn btn-sm" type="button" [command]="actionCmd.command"
					        [commandParams]="[hero, 1333, 'yo']" title="shared with x2">
						X2
					</button>
				</div>
			</div>
		</div>
	</fieldset>
</div>