version: 2
jobs:
  build:
    working_directory: ~/app
    docker:
      - image: circleci/node:9.8-browsers
    environment:
      - CHROME_BIN: "/usr/bin/google-chrome"
    steps:
      - run:
          name: Print environment versions
          command: |
            NPM_V=$(npm -v)
            echo npm version':' $NPM_V
      - checkout
      - restore_cache:
          key: dependency-cache-{{ checksum "package.json" }}
      - run:
          name: Package Install
          command: npm i
      - save_cache:
          key: dependency-cache-{{ checksum "package.json" }}
          paths:
            - ./node_modules
      - run:
          name: lint
          command: npm run lint
      - run:
          name: build
          command: npm run build
      - run:
          name: test
          command: npm test -- --watch=false --code-coverage
      - store_artifacts:
          path: coverage
          prefix: coverage