// @import "variables";
// .navbar {
// 	background: $navbar-bg-color;
// 	&,
// 	.navbar-nav li {
// 		a {
// 			color: $navbar-text-color;
// 			&:focus,
// 			&:hover {
// 				color: $navbar-active-text-color;
// 				background: $navbar-active-bg-hover-color;
// 			}
// 		}
// 	}
// 	.navbar-brand {
// 		&:focus,
// 		&:hover {
// 			color: $navbar-brand-text-hover-color;
// 			background: $navbar-brand-bg-hover-color;
// 		}
// 	}
// 	.active a {
// 		background: $navbar-active-bg-color;
// 	}
// }

// .nav {
// 	.user-profile {
// 		a {
// 			padding-left: 45px;
// 		}
// 		img {
// 			width: 30px;
// 			height: 30px;
// 			position: absolute;
// 			left: 12px;
// 			top: 10px;
// 		}
// 	}
// }
