// http://chir.ag/projects/name-that-color

// grayscales
$black: #000;
$cod-gray: #131313;
$mine-shaft-dark: #222;
$mine-shaft: #333;
$dusty-gray: #9a9a9a;
$concrete: #f3f3f3;
$white: #fff;

// purple
$haiti: #170a29;
$electric-violet: #660dce;

// blue
$cyprus: #013242;

// red
$darkred: darkred;
// $tahuna-sands: #efecca;
