// http://chir.ag/projects/name-that-color

$mine-shaft-dark: #222;
$mine-shaft: #333;
$concrete: #f3f3f3;

$haiti: #170a29;
$cyprus: #013242;
$darkred: darkred;
$white: #fff;
// $tahuna-sands: #efecca;
