@import "variables";

html {
	background: linear-gradient(rgba(220, 220, 220, 0.7), rgba(175, 175, 175, 0.5)),
		no-repeat center center url("/assets/imgs/heroes_of_the_storm-game-wallpaper-art-high_resolution-mr__jack-1920x1200.jpg");
	background-size: cover;
}

body {
	background: none;
	margin-top: 5rem;
	margin-bottom: 60px;

	.main.container {
		padding: 60px 15px 20px;
	}
}

.container {
	.text-muted {
		margin: 20px 0;
	}
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: $secondary-bg-color;

	> .container {
		padding: 0 15px;
	}
}
