@import "vars";

$footer-text-color: $text-diffuse-color !default;
$footer-bg-color: rgba($cod-gray, 0.8) !default;

html {
	background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), no-repeat center center url("/assets/imgs/app-bg.min.jpg");
	background-size: cover;
}

body {
	background: none;
	margin-top: 5rem;
	margin-bottom: 60px;

	.main.container {
		padding: 60px 15px 20px;
	}
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 64px;
	color: $footer-text-color;
	background: $footer-bg-color;

	> .container {
		padding: 0 15px;

		p {
			text-align: center;
			margin: 20px 0;
		}
	}
}
